<.header>
  New Submitter autocomplete
  <:subtitle>Use this form to manage submitter_autocomplete records in your database.</:subtitle>
</.header>

<.submitter_autocomplete_form changeset={@changeset} action={~p"/submitter_autocomplete"} />

<.back navigate={~p"/submitter_autocomplete"}>Back to submitter_autocomplete</.back>
