<.header>
  New Bassist
  <:subtitle>Use this form to manage bassist records in your database.</:subtitle>
</.header>

<.bassist_form changeset={@changeset} action={~p"/bassists"} />

<.back navigate={~p"/bassists"}>Back to bassists</.back>
