<.header>
  New Vocalist
  <:subtitle>Use this form to manage vocalist records in your database.</:subtitle>
</.header>

<.vocalist_form changeset={@changeset} action={~p"/vocalists"} />

<.back navigate={~p"/vocalists"}>Back to vocalists</.back>
