<.header>
  Edit Electric <%= @electric.id %>
  <:subtitle>Use this form to manage electric records in your database.</:subtitle>
</.header>

<.electric_form changeset={@changeset} action={~p"/el_guitar/#{@electric}"} />

<.back navigate={~p"/el_guitar"}>Back to el_guitar</.back>
