<.header>
  New Keyboard
  <:subtitle>Use this form to manage keyboard records in your database.</:subtitle>
</.header>

<.keyboard_form changeset={@changeset} action={~p"/keyboards"} />

<.back navigate={~p"/keyboards"}>Back to keyboards</.back>
