<.header>
  Edit Drummer <%= @drummer.id %>
  <:subtitle>Use this form to manage drummer records in your database.</:subtitle>
</.header>

<.drummer_form changeset={@changeset} action={~p"/drummers/#{@drummer}"} />

<.back navigate={~p"/drummers"}>Back to drummers</.back>
