<.header>
  New Speaker
  <:subtitle>Use this form to manage speaker records in your database.</:subtitle>
</.header>

<.speaker_form changeset={@changeset} action={~p"/speakers"} />

<.back navigate={~p"/speakers"}>Back to speakers</.back>
