<.header>
  New Slide
  <:subtitle>Use this form to manage slide records in your database.</:subtitle>
</.header>

<.slide_form changeset={@changeset} action={~p"/slides"} />

<.back navigate={~p"/slides"}>Back to slides</.back>
