<.header>
  New Acoustic
  <:subtitle>Use this form to manage acoustic records in your database.</:subtitle>
</.header>

<.acoustic_form changeset={@changeset} action={~p"/ac_guitar"} />

<.back navigate={~p"/ac_guitar"}>Back to ac_guitar</.back>
