<.header>
  New Service
  <:subtitle>Use this form to manage service records in your database.</:subtitle>
</.header>

<.service_form changeset={@changeset} date= {nil} action={~p"/services"} />

<.back navigate={~p"/services"}>Back to services</.back>
